.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.navbar1_container {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar1_dropdown-link {
  padding: 0.5rem 1rem;
}

.navbar1_dropdown-link.w--current {
  color: transparent;
}

.navbar1_menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar1_menu-button {
  padding: 0rem;
  color: #333;
}

.navbar1_dropdown-list.w--open {
  padding: 0.5rem;
  border: 1px solid transparent;
  background-color: transparent;
}

.navbar1_menu-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.navbar1_dropdown-toggle {
  padding: 0.5rem 2.5rem 0.5rem 1rem;
}

.button {
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
  background-color: transparent;
  color: transparent;
  text-align: center;
}

.button.is-secondary {
  background-color: transparent;
  color: transparent;
}

.button.is-secondary._222 {
  border-color: #000;
  color: #000;
}

.button.is-secondary._222:hover {
  background-color: #727272;
  color: #fff;
}

.button.is-small {
  padding: 0.5rem 1.25rem;
}

.button.is-link {
  padding: 0.25rem 0rem;
  border-style: none;
  background-color: transparent;
  color: transparent;
  line-height: 1;
  text-decoration: none;
}

.button.is-link.is-icon {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.button._222._33 {
  background-color: #333;
  color: #fff;
}

.button._222._33:hover {
  background-color: #000;
}

.navbar1_component {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  padding-right: 5%;
  padding-left: 5%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px none transparent;
  background-color: transparent;
}

.dropdown-icon {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1rem;
  height: 1rem;
  margin-top: auto;
  margin-right: 1rem;
  margin-bottom: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar1_logo-link {
  padding-left: 0px;
}

.navbar1_link {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.navbar1_link:hover {
  color: #686868;
}

.navbar1_link.w--current {
  color: #160042;
}

.body {
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xsmall {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.margin-bottom.margin-small {
  background-color: transparent;
}

.margin-bottom.margin-medium {
  padding-bottom: 1rem;
}

.margin-bottom.margin-large {
  background-color: transparent;
}

.section_header62 {
  height: 100vh;
  padding-top: 7.5rem;
  border-bottom: 1px solid #000;
  background-image: url('../images/christian-perner-fYO1T495QCM-unsplash.webp');
  background-position: 50% 50%;
  background-size: cover;
}

.padding-section-large {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5.3rem;
  padding-bottom: 4.4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.padding-section-large._2 {
  border-style: solid;
  border-width: 1px;
  border-color: #333;
  background-color: #e9e9e9;
}

.padding-section-large.feature1 {
  padding-bottom: 0rem;
}

.padding-section-large.feature-2 {
  padding-top: 2.1rem;
  padding-bottom: 2.3rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.margin-top {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.text-size-medium {
  padding: 1rem;
  font-size: 1.125rem;
  text-align: left;
}

.text-size-medium._22 {
  padding-left: 1rem;
}

.text-size-medium.landing {
  padding-bottom: 1.8rem;
  color: #160042;
  text-align: center;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
}

.padding-global {
  margin-bottom: 5%;
  padding-top: 0px;
  padding-right: 5%;
  padding-left: 5%;
  border: 1px none #000;
  background-color: transparent;
}

.padding-global._2 {
  margin-top: 5%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background-color: #e9e9e9;
}

.padding-global._2._3 {
  border-bottom: 1px solid #333;
}

.padding-global.contactpage {
  margin-bottom: -5%;
  background-image: url('../images/jj-ying-7JX0-bfiuxQ-unsplash.webp');
  background-position: 50% 50%;
  background-size: cover;
}

.button-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.button-group.is-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.icon-embed-xxsmall {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1rem;
  height: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.layout1_component {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #333;
  background-color: #e9e9e9;
}

.layout192_component {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #333;
  background-color: #e9e9e9;
}

.testimonial17_component {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.testimonial17_rating-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: transparent;
}

.testimonial17_client-image-wrapper {
  margin-right: 1rem;
}

.testimonial17_client-info {
  text-align: right;
}

.testimonial17_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px solid transparent;
  text-align: left;
}

.testimonial17_customer-image {
  width: 3rem;
  height: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  border-radius: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.testimonial17_rating-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}

.testimonial17_client {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
}

.max-width-large {
  width: 100%;
  max-width: none;
}

.max-width-large.align-center {
  max-width: none;
}

.footer3_social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0rem;
  -ms-grid-columns: -webkit-max-content;
  -ms-grid-columns: max-content;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  white-space: normal;
}

.padding-bottom {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-xxlarge {
  padding-top: 2.8rem;
}

.footer3_link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none;
}

.padding-top {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.footer3_legal-link {
  font-size: 0.875rem;
  text-decoration: underline;
}

.text-size-small {
  font-size: 0.875rem;
  text-decoration: none;
}

.footer3_link-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 100%;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.social-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.footer3_menu-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 2rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer3_social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
}

.line-divider {
  width: 100%;
  height: 1px;
  background-color: transparent;
}

.footer3_logo-link {
  padding-left: 0px;
  float: none;
}

.footer3_legal-list {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  -ms-grid-columns: -webkit-max-content;
  -ms-grid-columns: max-content;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  white-space: normal;
}

.footer3_top-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 4vw;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: center;
}

.footer3_credit-text {
  font-size: 0.875rem;
}

.padding-vertical {
  padding-right: 0rem;
  padding-left: 0rem;
}

.footer3_bottom-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-1x1-medium {
  width: 3rem;
  height: 3rem;
}

.layout242_component {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading-style-h5 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 700;
}

.layout242_list {
  display: -ms-grid;
  display: grid;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.layout242_item {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.success-text {
  font-weight: 600;
}

.signup-form-wrapper {
  display: -ms-grid;
  display: grid;
  margin-bottom: 1rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.cta8_form-block {
  max-width: 30rem;
  margin-bottom: 0px;
}

.text-size-tiny {
  font-size: 0.75rem;
}

.cta8_content {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cta8_component {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: 1fr -webkit-max-content;
  -ms-grid-columns: 1fr max-content;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.error-message {
  margin-top: 1.5rem;
  padding: 0.875rem 1rem;
}

.form-input {
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0px;
  padding: 0.5rem 0.75rem;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  background-color: #ededed;
  color: transparent;
  font-size: 1rem;
  line-height: 1.6;
}

.form-input:focus {
  border-color: #000;
}

.form-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input.is-text-area {
  overflow: auto;
  height: auto;
  min-height: 11.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.error-text {
  color: #e23939;
}

.success-message {
  padding: 1.5rem;
  background-color: transparent;
}

.form-checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 1.25rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact1_component {
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.form-checkbox-label {
  margin-bottom: 0px;
}

.text-style-link {
  text-decoration: underline;
}

.field-label {
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.max-width-medium {
  width: 100%;
  max-width: 35rem;
}

.max-width-medium.align-center {
  background-color: transparent;
  text-align: left;
}

.form-checkbox-icon {
  width: 1.125rem;
  height: 1.125rem;
  min-height: 1.125rem;
  min-width: 1.125rem;
  margin-top: 0px;
  margin-right: 0.5rem;
  margin-left: -1.25rem;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
}

.form-checkbox-icon.w--redirected-checked {
  border-width: 1px;
  border-color: #000;
  background-color: #000;
  background-size: 16px 16px;
  box-shadow: none;
}

.form-checkbox-icon.w--redirected-focus {
  border-color: #000;
  box-shadow: none;
}

.form-field-wrapper {
  position: relative;
}

.contact1_form {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.team-member-wrap {
  display: block;
  width: 100%;
  max-width: 1300px;
}

.avatar-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-top: 32px;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 6px solid #fff;
  border-radius: 0px;
  background-color: #fff;
  box-shadow: 72px 72px 72px 0 rgba(34, 51, 103, 0.06);
  -webkit-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
  font-size: 17px;
}

.card:hover {
  border-top-color: #3366d9;
  box-shadow: 11px 11px 55px 0 rgba(34, 51, 103, 0.1);
}

.number-text {
  color: #656e8d;
}

.contact-text {
  margin-right: 4px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.team-member-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 120px 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #c0d5ff;
}

.author-avatar {
  overflow: hidden;
  width: 120px;
  height: 120px;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
  border-radius: 100px;
}

.contact-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 70px;
  margin-top: 55px;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgba(138, 143, 163, 0.16);
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #8a8fa3;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.contact-link:hover {
  color: #3366d9;
}

.role {
  color: #8a8fa3;
  font-size: 18px;
}

.phone {
  width: 15px;
  margin-right: 10px;
}

.name {
  margin-bottom: 5px;
  color: #223367;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.03em;
}

.team-grid {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.phone-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
}

.f-margin-bottom-12 {
  margin-bottom: 12px;
}

.f-team-grid-column {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.f-team-image-small {
  overflow: hidden;
  width: 100%;
  height: 300px;
  border-radius: 8px;
}

.f-team-social-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.f-container-regular {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.f-sub-heading-large {
  color: #160042;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.f-team-social-grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.f-team-social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  min-height: 48px;
  min-width: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #f3f5fb;
  border-radius: 100px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #160042;
}

.f-team-social-link:hover {
  color: #642eff;
}

.f-image-cover {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

.f-paragraph-regular {
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: -0.02em;
}

.f-icon-regular {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.f-section-large {
  position: relative;
  padding: 92px 5%;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 3.625rem;
  color: #160042;
}

.button-2 {
  background-color: #333;
}

.button-2:hover {
  background-color: #000;
  color: #fff;
}

.icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3rem;
  height: 3rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #160042;
}

.icon-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3rem;
  height: 3rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #160042;
}

.icon-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3rem;
  height: 3rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #160042;
}

.heading-2 {
  text-align: center;
}

.heading-2._33 {
  color: #333;
  text-decoration: none;
}

.heading-3 {
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: center;
}

.heading-4 {
  margin-top: -56px;
  margin-bottom: 56px;
  color: #160042;
}

.heading-5 {
  padding-bottom: 1rem;
  color: #160042;
}

.phone-number {
  color: #313131;
  text-decoration: none;
}

.heading-6 {
  margin-top: 79px;
  margin-bottom: 41px;
  color: #160042;
  text-align: center;
}

.div-block {
  width: 200px;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 19px;
  padding-bottom: 56px;
  border-top: 1px solid #160042;
  text-align: center;
}

.heading-7 {
  padding-top: 5%;
  padding-bottom: 5%;
  color: #160042;
}

.padding-section-large-2 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.gallery21_component {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-size-medium-2 {
  font-size: 1.125rem;
}

.gallery21_lightbox-link {
  width: 100%;
}

.gallery21_image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery21_image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 70%;
  border: 1px solid #000;
}

.gallery21_arrow {
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3rem;
  height: 3rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 100%;
  background-color: transparent;
}

.gallery21_arrow.is-left {
  right: 4rem;
}

.gallery21_arrow.is-left.gallery {
  background-color: #685a83;
}

.gallery21_arrow.is-left.gallery:hover {
  background-color: #9a87c1;
}

.gallery21_arrow.gallery {
  background-color: #685a83;
}

.gallery21_arrow.gallery:hover {
  background-color: #9a87c1;
}

.padding-global-2 {
  padding-right: 5%;
  padding-left: 5%;
}

.padding-global-2.gallery {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background-color: #e9e9e9;
}

.gallery21_slide-nav {
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  height: 1.75rem;
  font-size: 0.5rem;
}

.gallery21_slider {
  position: relative;
  height: 100%;
  padding-bottom: 5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.gallery21_slide {
  padding-right: 2rem;
}

.section_gallery21 {
  overflow: hidden;
}

.max-width-large-2 {
  width: 100%;
  max-width: 48rem;
}

.gallery21_mask {
  overflow: visible;
  width: 50%;
}

.heading-8 {
  margin-top: 0px;
  margin-bottom: 52px;
}

@media screen and (max-width: 991px) {
  .menu-icon1_line-middle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-right: 0px;
    padding-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #3b3b3b;
  }

  .navbar1_dropdown-link {
    width: auto;
    padding: 0.75rem 0rem 0.75rem 5%;
  }

  .navbar1_menu {
    position: absolute;
    overflow: auto;
    padding: 1rem 5% 2rem;
    border-bottom: 1px solid #000;
    background-color: transparent;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }

  .navbar1_menu.is-page-height-tablet {
    background-color: #2a2a2a;
    color: #fff;
  }

  .menu-icon1_line-bottom {
    width: 24px;
    height: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #252525;
  }

  .navbar1_menu-dropdown {
    width: 100%;
    font-size: 1.125rem;
  }

  .navbar1_menu-button.w--open {
    background-color: transparent;
  }

  .menu-icon1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 48px;
    height: 48px;
    margin-right: -0.5rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #000;
    color: #3b3b3b;
  }

  .navbar1_dropdown-list {
    position: static;
    overflow: hidden;
  }

  .navbar1_dropdown-list.w--open {
    padding: 0px;
    border-style: none;
  }

  .navbar1_menu-buttons {
    margin-top: 1.5rem;
    margin-left: 0rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .navbar1_dropdown-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu-icon1_line-top {
    width: 24px;
    height: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #202020;
  }

  .dropdown-icon {
    left: auto;
    top: auto;
    right: 0%;
    bottom: auto;
    margin-top: 0rem;
    margin-right: 0px;
    margin-bottom: 0rem;
  }

  .navbar1_link {
    width: auto;
    padding: 0.75rem 0rem;
    color: #fff;
    font-size: 1.125rem;
  }

  .navbar1_link.w--current {
    color: #fff;
  }

  .menu-icon_line-middle-inner {
    width: 4px;
    height: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .layout1_component {
    min-height: auto;
    grid-auto-flow: row;
    grid-column-gap: 3rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .layout192_component {
    min-height: auto;
    grid-auto-flow: row;
    grid-column-gap: 3rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .testimonial17_component {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .footer3_top-wrapper {
    grid-row-gap: 4rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .layout242_list {
    grid-column-gap: 2rem;
  }

  .cta8_content {
    margin-right: 0rem;
  }

  .cta8_component {
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .team-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .padding-section-large-2 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .navbar1_component {
    height: auto;
    min-height: 4rem;
  }

  .navbar1_logo-link {
    padding-left: 0px;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-bottom.margin-xsmall {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .padding-section-large._2 {
    display: block;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .text-size-medium {
    font-size: 1rem;
  }

  .layout1_component {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .layout192_component {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .testimonial17_component {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .testimonial17_client-image-wrapper {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }

  .testimonial17_content {
    padding: 1.5rem;
  }

  .testimonial17_client {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .footer3_menu-wrapper {
    grid-column-gap: 1.5rem;
  }

  .footer3_legal-list {
    grid-auto-flow: row;
    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
  }

  .footer3_top-wrapper {
    grid-row-gap: 3rem;
  }

  .footer3_credit-text {
    margin-top: 2rem;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .footer3_bottom-wrapper {
    padding-bottom: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .heading-style-h5 {
    font-size: 1.25rem;
  }

  .layout242_list {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .cta8_content {
    margin-right: 0rem;
  }

  .cta8_component {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-row-gap: 2rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .f-team-grid-column {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .f-section-large {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .heading {
    padding-right: 0rem;
    text-align: center;
  }

  .padding-section-large-2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-medium-2 {
    font-size: 1rem;
  }

  .gallery21_arrow.is-left {
    right: 3.5rem;
  }

  .gallery21_slide {
    padding-right: 1.5rem;
  }

  .gallery21_mask {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .layout1_component {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .layout192_component {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .footer3_menu-wrapper {
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .layout242_list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .signup-form-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 0.75rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .team-member-section {
    padding-right: 5%;
    padding-left: 5%;
  }

  .team-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading-7 {
    padding-top: 15%;
  }
}

#w-node-_79a15ce3-ed5b-2c1a-6492-a6b7ee491aa5-c01d471a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_79a15ce3-ed5b-2c1a-6492-a6b7ee491ab6-c01d471a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_79a15ce3-ed5b-2c1a-6492-a6b7ee491ab8-c01d471a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_79a15ce3-ed5b-2c1a-6492-a6b7ee491aba-c01d471a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_506b8332-841a-d632-9946-56901b3b6cc1-c01d471a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e0212070-9dbf-2c2c-d2c2-c3bfbd6a1d0d-c01d471a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7bd9a880-f728-8257-9cc5-0364fdcb66e3-321d477c {
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-_79a15ce3-ed5b-2c1a-6492-a6b7ee491ab6-c01d471a {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_5fe5fb80-d748-c8b1-e62c-1a62adcebb0c-e215bd68 {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
}